hairLength none short medium long
glasses none circle rectangle triangle
facialHair black brown grey yellow
eyeColor black brown purple blue green
pimples none some many
hat on off
hairColor black grey blue purple red green grey
noseShape fleshy turnedUp hawk roman greek
faceShape circle rectangle triangle

P0
hairLength long
glasses triangle
facialHair brown
eyeColor blue
pimples many
hat off
hairColor grey
noseShape hawk
faceShape circle

P1
hairLength medium
glasses none
facialHair grey
eyeColor brown
pimples none
hat on
hairColor black
noseShape hawk
faceShape rectangle

P2
hairLength none
glasses circle
facialHair grey
eyeColor brown
pimples none
hat off
hairColor red
noseShape turnedUp
faceShape rectangle

P3
hairLength long
glasses triangle
facialHair grey
eyeColor blue
pimples some
hat on
hairColor purple
noseShape hawk
faceShape triangle

P4
hairLength medium
glasses triangle
facialHair grey
eyeColor purple
pimples many
hat on
hairColor red
noseShape greek
faceShape circle

P5
hairLength none
glasses rectangle
facialHair black
eyeColor brown
pimples some
hat on
hairColor grey
noseShape turnedUp
faceShape triangle

P6
hairLength medium
glasses circle
facialHair yellow
eyeColor black
pimples many
hat on
hairColor red
noseShape turnedUp
faceShape circle

P7
hairLength none
glasses triangle
facialHair grey
eyeColor brown
pimples many
hat off
hairColor grey
noseShape greek
faceShape rectangle

P8
hairLength short
glasses none
facialHair black
eyeColor brown
pimples none
hat off
hairColor grey
noseShape greek
faceShape circle

P9
hairLength short
glasses circle
facialHair black
eyeColor brown
pimples none
hat on
hairColor green
noseShape hawk
faceShape triangle

P10
hairLength long
glasses circle
facialHair black
eyeColor brown
pimples none
hat on
hairColor purple
noseShape fleshy
faceShape circle

P11
hairLength short
glasses triangle
facialHair grey
eyeColor purple
pimples some
hat on
hairColor blue
noseShape greek
faceShape circle

P12
hairLength short
glasses none
facialHair black
eyeColor black
pimples none
hat on
hairColor red
noseShape roman
faceShape rectangle

P13
hairLength none
glasses none
facialHair grey
eyeColor purple
pimples many
hat off
hairColor purple
noseShape hawk
faceShape triangle

P14
hairLength none
glasses circle
facialHair brown
eyeColor purple
pimples none
hat off
hairColor grey
noseShape greek
faceShape circle

P15
hairLength none
glasses circle
facialHair grey
eyeColor black
pimples none
hat off
hairColor grey
noseShape turnedUp
faceShape rectangle

P16
hairLength medium
glasses circle
facialHair grey
eyeColor blue
pimples many
hat on
hairColor grey
noseShape roman
faceShape rectangle

P17
hairLength short
glasses triangle
facialHair yellow
eyeColor black
pimples many
hat off
hairColor red
noseShape hawk
faceShape triangle

P18
hairLength none
glasses triangle
facialHair grey
eyeColor black
pimples none
hat on
hairColor black
noseShape roman
faceShape circle

P19
hairLength short
glasses none
facialHair grey
eyeColor black
pimples some
hat on
hairColor grey
noseShape roman
faceShape triangle

