hairLength none short medium long
glasses none circle rectangle triangle
facialHair black brown grey yellow
eyeColor black brown purple blue green
pimples none some many
hat on off
hairColor black grey blue purple red green grey
noseShape fleshy turnedUp hawk roman greek
faceShape circle rectangle triangle

P0
hairLength long
glasses triangle
facialHair brown
eyeColor green
pimples some
hat on
hairColor blue
noseShape turnedUp
faceShape triangle

P1
hairLength long
glasses none
facialHair black
eyeColor black
pimples none
hat off
hairColor black
noseShape greek
faceShape circle

P2
hairLength long
glasses rectangle
facialHair black
eyeColor blue
pimples many
hat on
hairColor green
noseShape turnedUp
faceShape triangle

P3
hairLength none
glasses triangle
facialHair grey
eyeColor black
pimples some
hat off
hairColor green
noseShape hawk
faceShape triangle

P4
hairLength long
glasses triangle
facialHair yellow
eyeColor brown
pimples none
hat on
hairColor green
noseShape greek
faceShape circle

P5
hairLength short
glasses none
facialHair grey
eyeColor green
pimples many
hat on
hairColor grey
noseShape roman
faceShape triangle

P6
hairLength none
glasses none
facialHair grey
eyeColor purple
pimples many
hat off
hairColor blue
noseShape greek
faceShape circle

P7
hairLength long
glasses rectangle
facialHair black
eyeColor purple
pimples some
hat off
hairColor blue
noseShape turnedUp
faceShape circle

P8
hairLength short
glasses rectangle
facialHair grey
eyeColor purple
pimples many
hat on
hairColor red
noseShape turnedUp
faceShape rectangle

P9
hairLength short
glasses none
facialHair yellow
eyeColor blue
pimples many
hat on
hairColor grey
noseShape turnedUp
faceShape triangle

P10
hairLength long
glasses none
facialHair brown
eyeColor green
pimples some
hat on
hairColor purple
noseShape hawk
faceShape circle

P11
hairLength none
glasses circle
facialHair black
eyeColor purple
pimples none
hat on
hairColor purple
noseShape turnedUp
faceShape rectangle

P12
hairLength long
glasses circle
facialHair yellow
eyeColor black
pimples none
hat on
hairColor green
noseShape turnedUp
faceShape triangle

P13
hairLength medium
glasses none
facialHair brown
eyeColor blue
pimples many
hat off
hairColor purple
noseShape roman
faceShape triangle

P14
hairLength long
glasses rectangle
facialHair black
eyeColor black
pimples some
hat off
hairColor blue
noseShape greek
faceShape circle

P15
hairLength short
glasses none
facialHair brown
eyeColor blue
pimples none
hat off
hairColor blue
noseShape roman
faceShape circle

P16
hairLength long
glasses triangle
facialHair yellow
eyeColor purple
pimples some
hat off
hairColor blue
noseShape roman
faceShape triangle

P17
hairLength medium
glasses none
facialHair yellow
eyeColor brown
pimples some
hat on
hairColor purple
noseShape fleshy
faceShape rectangle

P18
hairLength short
glasses rectangle
facialHair grey
eyeColor brown
pimples many
hat on
hairColor purple
noseShape hawk
faceShape rectangle

P19
hairLength none
glasses circle
facialHair grey
eyeColor green
pimples some
hat on
hairColor grey
noseShape hawk
faceShape triangle

