hairLength none short medium long
glasses none circle rectangle triangle
facialHair black brown grey yellow
eyeColor black brown purple blue green
pimples none some many
hat on off
hairColor black grey blue purple red green grey
noseShape fleshy turnedUp hawk roman greek
faceShape circle rectangle triangle

P0
hairLength medium
glasses circle
facialHair yellow
eyeColor brown
pimples some
hat on
hairColor purple
noseShape greek
faceShape circle

P1
hairLength medium
glasses none
facialHair yellow
eyeColor purple
pimples some
hat off
hairColor black
noseShape turnedUp
faceShape rectangle

P2
hairLength short
glasses circle
facialHair yellow
eyeColor brown
pimples many
hat on
hairColor blue
noseShape greek
faceShape circle

P3
hairLength long
glasses triangle
facialHair black
eyeColor black
pimples some
hat on
hairColor purple
noseShape hawk
faceShape circle

P4
hairLength medium
glasses circle
facialHair yellow
eyeColor brown
pimples none
hat off
hairColor red
noseShape turnedUp
faceShape circle

P5
hairLength short
glasses none
facialHair grey
eyeColor brown
pimples none
hat off
hairColor grey
noseShape roman
faceShape triangle

P6
hairLength short
glasses rectangle
facialHair yellow
eyeColor black
pimples many
hat off
hairColor grey
noseShape fleshy
faceShape triangle

P7
hairLength long
glasses none
facialHair black
eyeColor blue
pimples some
hat on
hairColor red
noseShape fleshy
faceShape rectangle

P8
hairLength short
glasses circle
facialHair brown
eyeColor blue
pimples many
hat on
hairColor blue
noseShape roman
faceShape triangle

P9
hairLength long
glasses none
facialHair grey
eyeColor green
pimples some
hat off
hairColor green
noseShape roman
faceShape triangle

P10
hairLength long
glasses rectangle
facialHair black
eyeColor black
pimples many
hat off
hairColor blue
noseShape roman
faceShape triangle

P11
hairLength long
glasses none
facialHair yellow
eyeColor purple
pimples none
hat on
hairColor grey
noseShape turnedUp
faceShape triangle

P12
hairLength long
glasses rectangle
facialHair yellow
eyeColor black
pimples none
hat off
hairColor black
noseShape roman
faceShape circle

P13
hairLength none
glasses none
facialHair black
eyeColor black
pimples some
hat off
hairColor grey
noseShape roman
faceShape triangle

P14
hairLength medium
glasses triangle
facialHair black
eyeColor brown
pimples some
hat on
hairColor blue
noseShape greek
faceShape circle

P15
hairLength medium
glasses triangle
facialHair yellow
eyeColor black
pimples many
hat on
hairColor green
noseShape hawk
faceShape rectangle

P16
hairLength none
glasses circle
facialHair yellow
eyeColor purple
pimples some
hat off
hairColor green
noseShape turnedUp
faceShape circle

P17
hairLength medium
glasses rectangle
facialHair black
eyeColor green
pimples none
hat on
hairColor grey
noseShape hawk
faceShape circle

P18
hairLength none
glasses none
facialHair black
eyeColor brown
pimples many
hat on
hairColor grey
noseShape roman
faceShape circle

P19
hairLength long
glasses triangle
facialHair grey
eyeColor brown
pimples many
hat on
hairColor grey
noseShape roman
faceShape circle

