hairLength none short medium long
glasses none circle rectangle triangle
facialHair black brown grey yellow
eyeColor black brown purple blue green
pimples none some many
hat on off
hairColor black grey blue purple red green grey
noseShape fleshy turnedUp hawk roman greek
faceShape circle rectangle triangle

P0
hairLength long
glasses circle
facialHair black
eyeColor brown
pimples many
hat on
hairColor grey
noseShape roman
faceShape rectangle

P1
hairLength none
glasses circle
facialHair yellow
eyeColor purple
pimples many
hat off
hairColor grey
noseShape hawk
faceShape circle

P2
hairLength long
glasses none
facialHair yellow
eyeColor purple
pimples some
hat on
hairColor blue
noseShape hawk
faceShape triangle

P3
hairLength short
glasses triangle
facialHair black
eyeColor purple
pimples some
hat off
hairColor grey
noseShape fleshy
faceShape rectangle

P4
hairLength short
glasses circle
facialHair black
eyeColor purple
pimples many
hat off
hairColor grey
noseShape fleshy
faceShape circle

P5
hairLength long
glasses none
facialHair black
eyeColor blue
pimples some
hat off
hairColor grey
noseShape greek
faceShape triangle

P6
hairLength medium
glasses rectangle
facialHair grey
eyeColor black
pimples none
hat off
hairColor grey
noseShape turnedUp
faceShape rectangle

P7
hairLength short
glasses rectangle
facialHair yellow
eyeColor green
pimples some
hat on
hairColor grey
noseShape hawk
faceShape circle

P8
hairLength short
glasses rectangle
facialHair brown
eyeColor green
pimples none
hat off
hairColor green
noseShape hawk
faceShape circle

P9
hairLength short
glasses circle
facialHair black
eyeColor brown
pimples some
hat on
hairColor blue
noseShape greek
faceShape circle

P10
hairLength none
glasses rectangle
facialHair black
eyeColor purple
pimples many
hat on
hairColor grey
noseShape fleshy
faceShape rectangle

P11
hairLength none
glasses none
facialHair brown
eyeColor black
pimples none
hat on
hairColor purple
noseShape greek
faceShape circle

P12
hairLength medium
glasses circle
facialHair grey
eyeColor brown
pimples some
hat on
hairColor green
noseShape greek
faceShape circle

P13
hairLength long
glasses rectangle
facialHair black
eyeColor purple
pimples none
hat off
hairColor grey
noseShape roman
faceShape rectangle

P14
hairLength none
glasses triangle
facialHair yellow
eyeColor green
pimples some
hat on
hairColor grey
noseShape greek
faceShape circle

P15
hairLength none
glasses none
facialHair black
eyeColor brown
pimples some
hat off
hairColor grey
noseShape fleshy
faceShape rectangle

P16
hairLength medium
glasses none
facialHair grey
eyeColor brown
pimples many
hat on
hairColor blue
noseShape roman
faceShape rectangle

P17
hairLength none
glasses none
facialHair yellow
eyeColor brown
pimples some
hat on
hairColor blue
noseShape turnedUp
faceShape triangle

P18
hairLength medium
glasses rectangle
facialHair black
eyeColor black
pimples some
hat on
hairColor purple
noseShape roman
faceShape circle

P19
hairLength short
glasses triangle
facialHair black
eyeColor blue
pimples none
hat on
hairColor blue
noseShape fleshy
faceShape rectangle

