hairLength none short medium long
glasses none circle rectangle triangle
facialHair black brown grey yellow
eyeColor black brown purple blue green
pimples none some many
hat on off
hairColor black grey blue purple red green grey
noseShape fleshy turnedUp hawk roman greek
faceShape circle rectangle triangle

P0
hairLength medium
glasses rectangle
facialHair black
eyeColor black
pimples many
hat on
hairColor red
noseShape hawk
faceShape triangle

P1
hairLength short
glasses rectangle
facialHair grey
eyeColor purple
pimples some
hat off
hairColor black
noseShape roman
faceShape circle

P2
hairLength medium
glasses triangle
facialHair brown
eyeColor black
pimples none
hat off
hairColor grey
noseShape hawk
faceShape triangle

P3
hairLength medium
glasses triangle
facialHair yellow
eyeColor black
pimples none
hat on
hairColor purple
noseShape fleshy
faceShape circle

P4
hairLength short
glasses circle
facialHair grey
eyeColor purple
pimples many
hat off
hairColor grey
noseShape turnedUp
faceShape circle

P5
hairLength short
glasses triangle
facialHair brown
eyeColor brown
pimples many
hat off
hairColor red
noseShape roman
faceShape rectangle

P6
hairLength medium
glasses rectangle
facialHair grey
eyeColor blue
pimples some
hat on
hairColor red
noseShape turnedUp
faceShape circle

P7
hairLength medium
glasses rectangle
facialHair grey
eyeColor purple
pimples some
hat on
hairColor red
noseShape turnedUp
faceShape rectangle

P8
hairLength short
glasses circle
facialHair grey
eyeColor brown
pimples none
hat off
hairColor purple
noseShape greek
faceShape triangle

P9
hairLength long
glasses rectangle
facialHair grey
eyeColor brown
pimples none
hat on
hairColor red
noseShape greek
faceShape rectangle

P10
hairLength none
glasses circle
facialHair yellow
eyeColor green
pimples some
hat off
hairColor red
noseShape fleshy
faceShape triangle

P11
hairLength medium
glasses none
facialHair grey
eyeColor black
pimples none
hat on
hairColor black
noseShape roman
faceShape circle

P12
hairLength none
glasses circle
facialHair grey
eyeColor black
pimples many
hat on
hairColor red
noseShape greek
faceShape circle

P13
hairLength short
glasses triangle
facialHair yellow
eyeColor black
pimples many
hat on
hairColor green
noseShape turnedUp
faceShape triangle

P14
hairLength short
glasses triangle
facialHair grey
eyeColor green
pimples some
hat on
hairColor green
noseShape turnedUp
faceShape triangle

P15
hairLength short
glasses triangle
facialHair black
eyeColor brown
pimples many
hat off
hairColor red
noseShape fleshy
faceShape circle

P16
hairLength long
glasses rectangle
facialHair yellow
eyeColor green
pimples many
hat on
hairColor black
noseShape greek
faceShape rectangle

P17
hairLength none
glasses rectangle
facialHair yellow
eyeColor blue
pimples some
hat on
hairColor grey
noseShape fleshy
faceShape triangle

P18
hairLength none
glasses rectangle
facialHair brown
eyeColor black
pimples some
hat off
hairColor red
noseShape turnedUp
faceShape triangle

P19
hairLength medium
glasses none
facialHair brown
eyeColor purple
pimples many
hat on
hairColor green
noseShape roman
faceShape circle

